<form [formGroup]="customerModel.formCustomerGroup">
    Customer code : <input type="text" formControlName="CustomerCodeControl" [(ngModel)]="customerModel.CustomerCode"
        name="cCode" id="cCode"> <br>
    Customer name : <input type="text" formControlName="CustomerNameControl" [(ngModel)]="customerModel.CustomerName"
        name="cName" id="cName"> <br>
    Customer amount : <input type="text" [(ngModel)]="customerModel.CustomerAmount" name="cAmount" id="cAmount"
        [ngModelOptions]="{standalone: true}"> <br>
    <input type="button" value="Add" (click)="Add()" [disabled]="!(customerModel.formCustomerGroup.valid)">
    <br>
    {{customerModel.CustomerCode}} <br>
    {{customerModel.CustomerName}} <br>
    {{customerModel.CustomerAmount}} <br>
    <div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!(hasError('pattern', 'CustomerCodeControl'))">Customer
        code
        format is not proper</div>
    <div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required', 'CustomerNameControl'))">
        Customer
        code is required</div>
    <div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required', 'CustomerNameControl'))">
        Customer name is required</div>

    <table>
        <tr>
            <td>Customer code</td>
            <td>Customer name</td>
            <td>Customer amount</td>
        </tr>
        <tr *ngFor="let cust of customerModels">
            <td> {{cust.CustomerCode}} </td>
            <td> {{cust.CustomerName}} </td>
            <td> {{cust.CustomerAmount}} </td>
        </tr>
    </table>
</form>